div.mainchat-wrapper {
  overflow: hidden;
}

div.mainchat-wrapper div.typing {
  background-color: white;
  border-top: 1px solid #ddd;
  bottom: 0;
  box-sizing: border-box;
  height: 60px;
  padding: 0 30px;
  position: fixed;
  right: 0;
  width: calc(100% - 350px);
}

div.mainchat-wrapper div.typing input {
  background-color: #f5f5f5;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 20px;
  font-family: "Noto Sans";
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 0 15px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  transition: 0.2s;
  width: 100%;
}

div.mainchat-wrapper div.typing input:focus {
  border: 1px solid darkcyan;
}
